#temporal {
     height: 100vh;
     width: 100vw;
     background: url('../images/temporal.jpg')no-repeat center center;
     background-size: cover;
     display: grid;
     justify-content: center;
     align-content: center;
 }

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      color: black;
      background: #636363;
      font-size: 16px;
      height: 100%;
}

:root {
      --dedalo: #D2C29D;
      --gris: #7C7C7C;
      --gris_claro: #c3c3c3;
      --dorado: #F5D75C;
      --negro50: rgba(0,0,0,0.5);
      --negro60: rgba(0,0,0,0.6);
      --negro70: rgba(0,0,0,0.7);
      --negro80: rgba(0,0,0,0.8);
      --negro90: rgba(0,0,0,0.9);
      --blanco20: rgba(255,255,255,0.2);
      --blanco30: rgba(255,255,255,0.3);
      --blanco40: rgba(255,255,255,0.4);
      --blanco50: rgba(255,255,255,0.5);
      --blanco60: rgba(255,255,255,0.6);
      --blanco70: rgba(255,255,255,0.7);
      --trans: all 0.2s ease-in-out;
}

::selection {
      background: var(--dedalo);
      color: black;
}
::-moz-selection {
      background: var(--dedalo);
      color: black;
}

body {
     overflow-x: hidden;
}

p {
      line-height: 1.4em;
      letter-spacing: 0.6px;
 }
 
 ul {
      margin: 0;
 padding: 0;
 list-style: none;
 }

nav {
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      width: 100vw;
      color: white;
      background-color: var(--negro50);
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      position: fixed; 
      z-index: 999;
 }
 nav ul {
      display: flex;
      margin-right: 20px;
      height: inherit;
 }
 nav ul li {
      display: flex;
      cursor: pointer;
      list-style: none;
      transition: 0.3s ease all;
 }
 nav ul li a {
      color: white;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      height: inherit;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 600;
      letter-spacing: 0.7px;
      text-decoration: none;
      border-bottom: 4px solid var(--blanco20);
      transition: 0.3s ease all;
 }
 nav ul li a:hover, .selected {
      height: inherit;
      border-bottom: 4px solid var(--dorado);
      color: var(--azulcielo) !important;
 }
 
ul {
      list-style: none;
}

button, input, select, textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
}

/* ···················································· */
/* IDs --------------------------------------------- */
/* ···················································· */
#hero {
      font-family: 'Cormorant Garamond', serif;
      text-transform: uppercase;
      color: white;
      height: 85vh;
      text-align: center;
      display: grid;
      align-content: center;
      position: relative;
      background: url('../images/inverpat-bkgr.jpg')no-repeat center center;
      background-size: cover;
      z-index: 800;
 }
 #hero::before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,0.3);
      z-index: -1;
 }

#hero h1 {
     font-size: 3em;
     font-weight: 300;
     letter-spacing: 3px;
}

#hero .call-to-action {margin: 0 auto; margin-top: 3%; width: 100vw;}

#hero small {
      display: flex;
      justify-content: center;
      color: var(--blanco70);
      letter-spacing: 0.5px;
      margin-top: 2%;
 }
 
 #hero button {
      margin-top: 2%;
 }
 #hero .hero-logo {
      width:250px;
      height: auto;
      margin-bottom: 20px;
 }

/* ···················································· */
/* CLASES --------------------------------------------- */
/* ···················································· */
.ocultar {display: none;}

.logo {
      width: 110px;
      height: auto;
      margin-left: 30px;
      margin-top: 0;
 }

 /* INDEX:: index-servicios */
 #index-servicios {
      margin: 40px;
      display: grid;
      grid-template: 500px / repeat(3, 1fr);
      grid-gap: 40px;
 }
 #index-servicios .item {
      position: relative;
      background-color: black;
      display: grid;
      justify-content: center;
      align-content: center;
     text-align: center;
 }
 #index-servicios .item::before {
      position: absolute;
      content: ' ';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.5;
 }
 #index-servicios .item:nth-child(1)::before {
     background: url('../images/servicio1-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item:nth-child(2)::before {
     background: url('../images/servicio2-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item:nth-child(3)::before {
     background: url('../images/servicio3-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item h2, #index-servicios .item p {
      position: relative;
      color: white;
 }

 /* INDEX:: index-about-us */
#index-about-us {
     margin: 0 40px;
     display: grid;
     grid-template: 400px 700px / 50% repeat(2, 1fr);
     /* grid-template: 400px 650px / 50% repeat(2, minmax(250px, 1fr)); */
     grid-template-areas: "about about-foto about-foto"
                          "pirela pirela-cont pirela-cont";
}
.about {
     grid-area: about;
     background-color: white;
     padding: 0 13%;
}
.about-foto {
     grid-area: about-foto;
     background: url('../images/quienes-somos.jpg')no-repeat center center;
     background-size: cover;
}
.pirela {
     grid-area: pirela;
     background: url('../images/david-pirela-inverpat.jpg')no-repeat center center;
     background-size: cover;
}
.pirela-cont {
     grid-area: pirela-cont;
     color: white;
     background-color: var(--negro90);
     padding: 0 13%;
}

#index-about-us div {
     display: grid;
     justify-content: center;
     align-content: center;
}

.item {
     /* border: 1px solid green; */
}

/* INDEX:: index-servicios */
#index-mapa, #index-form {
     margin: 0 40px;
     display: grid;
     width: auto;
     height: 450px;
     background-color: lightgrey;
     justify-content: center;
      align-content: center;
}
#index-form {
     background-color: gray;
     background: url('../images/formulario-bkgr.jpg')no-repeat center center;
     background-size: cover;
     background-attachment: fixed;
}

/* ···················································· */
/* RESPONSIVE ----------------------------------------- */
/* ···················································· */
@media (max-width: 575.98px) { 
      #hero .logo {width: 70px; height: 40px;}
      #hero nav, #hero-interna nav {padding:7px 0;max-height: 70px;}
      #hero nav ul, #hero-interna nav ul {
           display: grid;
           grid-row: column;
           height: 60vh;
           justify-content: center;
           align-items: center;
           margin-top: 20%;
      }
      #hero nav ul li, #hero-interna nav ul li {
           padding: 0;
      }
      #hero nav ul li a, #hero-interna nav ul li a {
           width: 100%;
           justify-content: center;
      }
 
      .hideoverflow {
           overflow: hidden;
       }
      .burger-button, .burger-menu {
           position: absolute;
           position: fixed;
           top: 0;
           right: 0;
       }
       .burger-button {
           position: fixed;
           background: url("../images/lnr-menu.svg") no-repeat center center;
           transform: scale(1.5);
           width: 30px;
           margin-right: 10px;
           margin-top: 5px;
           padding: 30px 17px 9px;
           transition: var(--transicion);
           z-index: 991;
       }
       .burger-button:hover {
           background: url("../images/lnr-menu-hover.svg") no-repeat center center;
       }
       .burger-menu {
           background: rgba(255,255,255,0.95);
           z-index: 998;
           height: 100vh;
           right: -100vw;
           width: 100vw;
           transition: all 0.4s ease-in-out;
       }
       .burger-menu.is-active {
           right: 0;
       }
       a.boton-cerrar {
           position: absolute;
           background: url("../images/close.svg") no-repeat center center;
           background-size: cover;
           width: 50px;
           height: 50px;
           right: 10px;
           cursor: pointer;
           margin: 7px 7px 0;
           z-index: 9999;
           transition: var(--transicion);
       }
       a.boton-cerrar:hover {
           background: url("../images/close-hover.svg") no-repeat center center;
           background-size: 3em; 
       }
       .boton-cerrar img {
           width: 50px;
       }
  }