#temporal {
     height: 100vh;
     width: 100vw;
     background: url('../images/temporal.jpg')no-repeat center center;
     background-size: cover;
     display: grid;
     justify-content: center;
     align-content: center;
 }

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      color: black;
      background: #636363;
      font-size: 16px;
      height: 100%;
      overflow-x: hidden;
}

:root {
      --dedalo: #D2C29D;
      --gris: #7C7C7C;
      --gris_claro: #c3c3c3;
      --dorado: #F5D75C;
      --negro50: rgba(0,0,0,0.5);
      --negro60: rgba(0,0,0,0.6);
      --negro70: rgba(0,0,0,0.7);
      --negro80: rgba(0,0,0,0.8);
      --negro90: rgba(0,0,0,0.9);
      --blanco20: rgba(255,255,255,0.2);
      --blanco30: rgba(255,255,255,0.3);
      --blanco40: rgba(255,255,255,0.4);
      --blanco50: rgba(255,255,255,0.5);
      --blanco60: rgba(255,255,255,0.6);
      --blanco70: rgba(255,255,255,0.7);
      --trans: all 0.2s ease-in-out;
}

::selection {
      background: var(--dedalo);
      color: black;
}
::-moz-selection {
      background: var(--dedalo);
      color: black;
}

p {
     line-height: 1.4em;
     font-size: 0.9em;
     line-height: 1.6em;
 }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}
 
 footer {
     text-align: center;
     font-size: 0.8em;
     margin: 40px 20px;
     line-height: 2em;
 }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     footer {
          margin: 0 40px 40px;
          float: left;
     }
}

 footer, footer a {
     color: var(--blanco50)
 }
 p, footer {
     font-family: 'Mulish', sans-serif;
     font-weight: 300;
     letter-spacing: 0.4px;
 }

 ul {
      margin: 20px 0;
     padding: 0;
     list-style: none;
 }
 ul li {
      position: relative;
     font-family: 'Mulish', sans-serif;
     line-height: 1.8em;
     padding-left: 30px;
}

nav {
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      width: 100vw;
      color: white;
      background-color: var(--negro50);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      position: fixed; 
      z-index: 999;
 }
 nav ul {
      display: flex;
      margin-right: 20px;
      height: inherit;
 }
 nav ul li {
      display: flex;
      cursor: pointer;
      list-style: none;
      transition: 0.3s ease all;
 }
 nav ul li a {
      color: white;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      height: inherit;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 600;
      letter-spacing: 0.7px;
      text-decoration: none;
      border-bottom: 4px solid var(--blanco20);
      transition: 0.3s ease all;
 }
 nav ul li a:hover, .selected {
      height: inherit;
      border-bottom: 4px solid var(--dorado);
      color: var(--azulcielo) !important;
 }
 
ul {
      list-style: none;
}

button, input, select, textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
}

h2, h3 {
     font-family: 'Cormorant Garamond', serif;
     letter-spacing: 0.8px;
}
h2 {
     font-weight: 300;
     font-size: 2em;
}
h3 {
     font-size: 1.5em;
     font-weight: 500;
}

/* ···················································· */
/* IDs --------------------------------------------- */
/* ···················································· */
#hero {
      font-family: 'Cormorant Garamond', serif;
      text-transform: uppercase;
      color: white;
      height: 85vh;
      text-align: center;
      display: grid;
      justify-content: center;
      align-content: center;
      position: relative;
      background: url('../images/inverpat-bkgr.jpg')no-repeat center center;
      background-size: cover;
      z-index: 800;
 }
 #hero::before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,0.3);
      z-index: -1;
 }

#hero h1 {
     font-size: 3em;
     font-weight: 300;
     letter-spacing: 3px;
     line-height: 1em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     #hero h1 {
          font-size: 2.5em;
     }
}

#hero .call-to-action {
     margin: 0 auto; 
     margin-top: 3%; 
     width: 100vw;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     #hero .call-to-action {
          padding: 0 50px;
     }  
}

#hero small {
      display: flex;
      justify-content: center;
      color: var(--dorado);
      letter-spacing: 0.9px;
      margin-top: 2%;
      font-style: italic;
      font-size: 1em;
 }
 
 #hero button {
      margin-top: 2%;
      padding: 20px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
 }

 #hero .play {
      display: inline-block;
     margin-top: 2%;
     background: url('../images/icono-play.svg')no-repeat center center;
     background-size: contain;
     width: 70px;
     height: 70px;
     transition: var(--trans);
 }
 #hero .play:hover {
     background: url('../images/icono-play-hover.svg')no-repeat center center;
     background-size: contain;
 }
 
 #hero .hero-logo {
      width:250px;
      height: auto;
      margin-bottom: 20px;
 }

/* ···················································· */
/* CLASES --------------------------------------------- */
/* ···················································· */
.ocultar {display: none;}

.logo {
      width: 110px;
      height: 60px;
      margin-left: 30px;
      margin-top: 0;
 }

 /* INDEX:: index-servicios */
 #index-servicios {
      margin: 40px;
      display: grid;
      grid-template: 500px / repeat(3, 1fr);
      grid-gap: 40px;
 }
     /* Extra small devices (tablets, 768px and down) */
     @media only screen and (max-width: 768px) {
          #index-servicios {
               grid-template: repeat(3, 350px) / 1fr;
          } 
     }
     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
          #index-servicios {
               margin: 20px;
               grid-gap: 20px;
          }
     }

 #index-servicios .item {
     position: relative;
     background-color: black;
     display: grid;
     justify-content: center;
     align-content: center;
     text-align: center;
     padding: 20px;
     line-height: 2em;
 }
 #index-servicios .item::before {
      position: absolute;
      content: ' ';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.6;
 }
 #index-servicios .item:nth-child(1)::before {
     background: url('../images/servicio1-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item:nth-child(2)::before {
     background: url('../images/servicio2-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item:nth-child(3)::before {
     background: url('../images/servicio3-bkgr.jpg')no-repeat center center;
     background-size: cover;
 }
 #index-servicios .item h2, #index-servicios .item p, #index-servicios .item button {
      position: relative;
      font-family: 'Cormorant Garamond', serif;
}
#index-servicios .item p {
     color: white;
}
 #index-servicios h2 {
      color: var(--dorado);
}

#index-servicios .item button {
     margin: 0 auto;
     background-color: var(--dorado);
     cursor: pointer;
     transition: var(--trans);
     padding: 12px 17px;
     margin-top: 20px;
}
#index-servicios .item button:hover  {
     background-color: black;
}
#index-servicios .item a:hover {
     color: white;
}
#index-servicios .item a {
     text-decoration: none;
     color: black;
}


/* INDEX:: index-about-us */
#index-about-us {
     margin: 0 40px;
     display: grid;
     grid-template: auto minmax(700px, auto) / 50% repeat(2, 1fr);
     grid-template-areas: "about about-foto about-foto"
                          "pirela pirela-cont pirela-cont";
}
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {
     #index-about-us {
          margin: 0 20px;
          grid-template: 1fr 250px 350px auto / 1fr;
          grid-template-areas: "about" 
                               "about-foto"
                               "pirela"
                               "pirela-cont";
     } 
}

#index-about-us ul li::before {
     border-bottom: 1px solid white;
     position: absolute;
     content: url(../images/lnr-checkmark-circle.svg);
     width: 20px;
     height: 15px;
     margin-left: -30px;
}
.about {
     grid-area: about;
     background-color: white;
     padding: 15% 12%;
     text-align: center;
}
     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
          .about {
               padding: 12% 7%;
          }
     }
.divisor {
     background: url('../images/divisor.svg')no-repeat center center;
     background-size: contain;
     width: 65px;
     height: 15px;
     margin: 0 auto;
     padding: 30px 0;
}
.about-foto {
     grid-area: about-foto;
     background: url('../images/quienes-somos.jpg')no-repeat center center;
     background-size: cover;
}
.pirela {
     grid-area: pirela;
     background: url('../images/david-pirela-inverpat.jpg')no-repeat center center;
     background-size: cover;
}
.pirela-cont {
     grid-area: pirela-cont;
     color: white;
     background-color: var(--negro90);
     padding: 15% 12%;
}
     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
          .pirela-cont {
               padding: 12% 7%;
          }
     }

.pirela-cont h2 span {
     font-size: 0.73em;
}
.pirela-cont p {
     text-align: justify;
     text-justify: inter-word;
}

#index-about-us h2 {
     color: var(--dorado);
}

#index-about-us div {
     display: grid;
     justify-content: center;
     align-content: center;
}

/* INDEX:: index-servicios */
#index-social {
     margin: 0 40px;
     display: grid;
     width: auto;
     height: 450px;
     justify-content: center;
      align-content: center;
}

#index-noticias {
     text-align: center;
     display: grid;
     grid-gap: 20px 40px;
     justify-content: center;
     margin-top: 25px;
}

#index-noticias h2 {
     color: white;
}

#index-social {
     background-color: gray;
     background: url('../images/redes-sociales-inverpat.jpg')no-repeat center center;
     background-size: cover;
     background-attachment: fixed;
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
}
     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
          #index-social {
               height: auto;
               margin: 20px;
               padding: 40px 0;
               flex-flow: column;
          }
     }

/* ------ */
#index-social div {
     width: 160px;
     height: auto;
     display: flex;
     flex-flow: column;
     justify-items: center;
     text-align: center;
     align-items: center;
}

#index-social .facebook, #index-social .instagram, #index-social .email {
     width: 100px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     cursor: pointer;
     background-color: rgba(0,0,0,0);
     border-radius: 50%;
     transition: var(--trans);
}
#index-social .facebook:hover, #index-social .instagram:hover, #index-social .email:hover {
     background-color: var(--dorado);
     -webkit-box-shadow: -1px 27px 30px -15px rgba(0,0,0,0.46);
     -moz-box-shadow: -1px 27px 30px -15px rgba(0,0,0,0.46);
     box-shadow: -1px 27px 30px -15px rgba(0,0,0,0.46);
}      

#index-social div p {
     color: var(--dorado);
     display: block;
     font-size: 1.4em;
     height: auto;
     width: 100%;
     padding: 20px 0;
}
     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
          #index-social div p {
               padding: 0 0 30px;
          } 
     }

#index-social .icono {
     top: 20px;
     padding: 10px;
     width: 60px;
     height: 60px;
}
#index-social .facebook .icono {
     background: url('../images/facebook.svg')no-repeat center center;
     background-size: contain;
}

#index-social .facebook:hover .icono {
     background: url('../images/facebook-hover.svg')no-repeat center center;
     background-size: contain;
}

#index-social .instagram .icono {
     background: url('../images/instagram.svg')no-repeat center center;
     background-size: contain;
}

#index-social .instagram:hover .icono {
     background: url('../images/instagram-hover.svg')no-repeat center center;
     background-size: contain;
}

#index-social .email .icono {
     background: url('../images/email.svg')no-repeat center center;
     background-size: contain;
}

#index-social .email:hover .icono {
     background: url('../images/email-hover.svg')no-repeat center center;
     background-size: contain;
}

/* ------ */

/* FOOTER */


/* ···················································· */
/* RESPONSIVE ----------------------------------------- */
/* ···················································· */
@media (max-width: 575.98px) { 
      #hero .logo {width: 70px; height: 40px;}
      #hero nav, #hero-interna nav {padding:7px 0;max-height: 70px;}
      #hero nav ul, #hero-interna nav ul {
           display: grid;
           grid-row: column;
           height: 60vh;
           justify-content: center;
           align-items: center;
           margin-top: 20%;
      }
      #hero nav ul li, #hero-interna nav ul li {
           padding: 0;
      }
      #hero nav ul li a, #hero-interna nav ul li a {
           width: 100%;
           justify-content: center;
      }
 
      .hideoverflow {
           overflow: hidden;
       }
      .burger-button, .burger-menu {
           position: absolute;
           position: fixed;
           top: 0;
           right: 0;
       }
       .burger-button {
           position: fixed;
           background: url("../images/lnr-menu.svg") no-repeat center center;
           transform: scale(1.5);
           width: 30px;
           margin-right: 10px;
           margin-top: 5px;
           padding: 30px 17px 9px;
           transition: var(--transicion);
           z-index: 991;
       }
       .burger-button:hover {
           background: url("../images/lnr-menu-hover.svg") no-repeat center center;
       }
       .burger-menu {
           background: rgba(255,255,255,0.95);
           z-index: 998;
           height: 100vh;
           right: -100vw;
           width: 100vw;
           transition: all 0.4s ease-in-out;
       }
       .burger-menu.is-active {
           right: 0;
       }
       a.boton-cerrar {
           position: absolute;
           background: url("../images/close.svg") no-repeat center center;
           background-size: cover;
           width: 50px;
           height: 50px;
           right: 10px;
           cursor: pointer;
           margin: 7px 7px 0;
           z-index: 9999;
           transition: var(--transicion);
       }
       a.boton-cerrar:hover {
           background: url("../images/close-hover.svg") no-repeat center center;
           background-size: 3em; 
       }
       .boton-cerrar img {
           width: 50px;
       }
  }